.poke-mart-item-container {
	position: absolute;
	top: 0px;
	bottom: -4px;
	width: 100%;
	background-color: #2a2b2b;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;
	overflow-y: auto;
}

.poke-mart-item-container::-webkit-scrollbar { width: 16px; }
.poke-mart-item-container::-webkit-scrollbar-track {
 	background: #2a2b2b; 
 	border-left: 1px solid black;
}
.poke-mart-item-container::-webkit-scrollbar-thumb { 
    background: var(--red); 
    border-left: 1px solid black;
    border-radius: 0px;
}

.poke-mart-item {
	position: relative;
	width: 100%;
	height: 28px;
	outline: 1px solid black;
	color: #1b1b19;
	background-color: #e8e9e9;
	display: flex;
	flex-wrap: wrap;
	font-size: 13px;
	line-height: 32px;
	cursor: url('../assets/images/misc/cursor-pointer.png') 0 0, pointer;
}

.poke-mart-item *{
	cursor: url('../assets/images/misc/cursor-pointer.png') 0 0, pointer;
}

.poke-mart-item:nth-child(2n) {
	background-color: #d6d6d6;
}

.poke-mart-item:hover {
	filter: brightness(1.2);
}

.poke-mart-item-icon {
	position: relative;
	width: 10%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.poke-mart-item-name {
	position: relative;
	width: 72%;
	height: 100%;
}

.poke-mart-item-price {
	position: relative;	
	width: 15.5%;
	height: 100%;
	text-align: right;
}

/* POPUP */
.popup-poke-mart-item-bg {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 55px;
	background-color: rgba(0, 0, 0, 0.8);
	border-bottom: 1px solid black;
}

.popup-poke-mart-item-container {
	position: absolute;
	top: 15px;
	width: 97%;
	height: 28px;
	display: flex;
	flex-wrap: wrap;
	font-size: 13px;
	line-height: 32px;
	justify-content: center;
	gap: 5px;
}

.popup-poke-mart-item-name {
	position: relative;
	height: 100%;
	color: var(--white);
}

.popup-poke-mart-item-icon {
	position: relative;
	width: 10%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.popup-poke-mart-item-tm-button-info {
	position: relative;
	height: 100%;
	width: 28px;
	color: var(--white);
	border-radius: 4px;
	background-color: var(--red);
	font-size: 14px;
	text-align: center;
	outline: 1px solid black;
	margin-left: 9px;
	cursor: url('../assets/images/misc/cursor-pointer.png') 0 0, pointer;
}

.popup-poke-mart-item-tm-button-info:hover {
	filter: brightness(1.2);
}

.popup-poke-mart-item-description {
	position: absolute;
	top: 60px;
	left: 0px;
	right: 0px;
	height: 55px;
	color: #222425;
	padding: 10px;
	align-content: center;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
}

.popup-poke-mart-item-amount-container {
	position: absolute;
	top: 150px;
	left: 40px;
	right: 40px;
	bottom: 55px;
}

.popup-poke-mart-item-amount {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%);
	width: 90px;
	height: 30px;
	border-radius: 4px;
	font-size: 16px;
	color: #1b1b19;
	text-align: center;
	background: var(--white);
	outline: 1px solid #403e3e;
}


.popup-poke-mart-item-amount-button {
	position: absolute;
	top: 5px;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	line-height: 22px;
	cursor: url('../assets/images/misc/cursor-pointer.png') 0 0, pointer;
	color: var(--white);
	outline: 1px solid black;
}

.popup-poke-mart-item-amount-button:hover {
	filter: brightness(1.2);
}

.popup-poke-mart-item-amount-button-less { 
	background-color: #C03B3B;
	left: 80px; 
}
.popup-poke-mart-item-amount-button-more { 
	background-color: #6ea82b;
	right: 80px; 
}

.popup-poke-mart-item-amount-price {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	font-size: 14px;
	width: 200px;
	text-align: center;
}

.popup-poke-mart-item-button {
	position: absolute;
	bottom: 15px;
	width: 140px;
	height: 24px;
	outline: 1px solid black;
	border-radius: 3px;
	text-align: center;
	line-height: 26px;
	font-size: 12px;
	color: var(--white);
	cursor: url('../assets/images/misc/cursor-pointer.png') 0 0, pointer;
	transition: .2s;
}

.popup-poke-mart-item-button:hover {
	filter: brightness(1.2);
}

.popup-poke-mart-item-button-cancel {
	left: 35px;
	background-color: var(--red);
}

.popup-poke-mart-item-button-buy {
	right: 35px;
	background-color: var(--green);
}

.gold-ui {
	display: none;
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 160px;
	height: 24px;
	font-size: 13px;
	line-height: 30px;
	color: var(--white);
	text-align: right;
	border-top-left-radius: 5px;

	padding-right: 15px;
	background-color: var(--yellow);
	outline: 2px solid black;

	z-index: 100;
}

.token-ui {
	display: none;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 160px;
	height: 24px;
	font-size: 13px;
	line-height: 28px;
	color: var(--white);
	text-align: right;
	border-top-right-radius: 5px;
	padding-right: 15px;
	background-color: var(--blue);
	outline: 2px solid black;

	z-index: 100;
}